@font-face {
    font-family: 'Tahoma'; 
    src: url(../fonts/tahoma.ttf);
	}

.product-item-container{
	width: 400px;
	height: 550px;
	padding: 10px;
	box-sizing: border-box;
}

.product-item {
	border: 2px solid #5a5a5a;
	box-sizing: border-box;
	height: 530px;
	text-align: center;
	width: 380px;
}

.product-item__name {
	margin: 10px auto;
	width: 300px;
	height: 52px;	
}

.product-item__name a,
.product-item__name a:hover,
.product-item__name a:visited,
.product-item__name a:active {
	font: 500 22px/26px 'Tahoma', sans-serif;
	font-weight: 500;
	color: #242424;
	letter-spacing: 1px;
	text-decoration: none;
	display: block;
}

.card-product__img {
	margin-top: 13px;
}

.product-item__label-installment {
	background: #8bc144;
	-webkit-box-shadow: -3px 3px 0px 0px rgba(156,156,156,1);
	-moz-box-shadow: -3px 3px 0px 0px rgba(156,156,156,1);
	box-shadow: -3px 3px 0px 0px rgba(156,156,156,1);
	color: #fff;
	display: block;
	font: 22px 'Tahoma', sans-serif;
	letter-spacing: 1px;
	height: 31px;
	width: 190px;
	transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear; /** Chrome & Safari **/
    -moz-transition: all 0.1s linear; /** Firefox **/
    -o-transition: all 0.1s linear; /** Opera **/
}
.product-item__label-installment:hover {
    transform: translate(-3px,3px);
    -webkit-transform: translate(-3px,3px); /** Chrome & Safari **/
    -o-transform: translate(-3px,3px); /** Opera **/
    -moz-transform: translate(-3px,3px); /** Firefox **/
}

.product-item__price span {
	display: block;
	font: 500 31px/68px 'Tahoma', sans-serif;
	letter-spacing: 1px;
	margin-left: 124px;
	text-align: left;
	width: 160px;
}
.button__add-to-cart {
	background: #ff0000;
	display: block;
	color: #fff;
	font: 28px 'Tahoma', sans-serif;
	height: 46px;
	line-height: 46px;
	margin-left: 62px;
	text-decoration: none;
	text-shadow: -1px 1px 0px #000000;
	width: 229px;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(133,0,0,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(133,0,0,1);
	box-shadow: 0px 4px 0px 0px rgba(133,0,0,1);
}
